@import "../../../styles/variables";
.section {
    .textBlock {
        padding: 140px 0;
        max-width: 780px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 1024px) {
            padding: 100px 20px;
            max-width: 100%;
        }
    }
    .title {
        font-size: 50px;
        font-weight: bold;
        line-height: 1.3;
        @media (max-width: 1024px) {
            text-align: center;
            font-size: 40px;
        }
        @media (max-width: 870px) {
            font-size: 28px;
        }
        @media (max-width: 640px) {
            font-size: 22px;
        }
    }
    .text {
        line-height: 1.5;
        color: $homeText;
        padding: 0 100px;
        margin: 32px 0;
        @media (max-width: 1024px) {
            padding: 0px;
        }
    }
    .support {
        display: flex;
        align-items: center;
        .infoBlock {
            padding-right: 80px;
            flex: 50%;
            .text {
                padding: 0;
            }
            @media (max-width: 1024px) {
                padding-right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @media (max-width: 1024px) {
                    padding: 0px 20px;
                    max-width: 100%;
                }
                .text {
                    text-align: center;
                }
            }
        }
        img {
            width: 50%;
            @media (max-width: 1024px) {
                display: none;
            }
        }
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
