.wrapper {
    padding: 50px;
    @media (max-width: 1024px) {
        padding: 30px 20px;
    }
    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        img {
            width: 44px;
            height: 44px;
        }
        .name {
            font-size: 22px;
            font-weight: bold;
        }
    }
    .chartBlock {
        margin-top: 50px;
        .chartTitle {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .description {
        margin-top: 20px;
        .descriptionTitle {
            font-size: 20px;
            font-weight: bold;
        }
        .descriptionText {
            line-height: 1.5;
            margin-top: 20px;
            a {
                color: skyblue;
            }
        }
    }
}
.select {
    color: black;
    width: 200px;
    margin-top: 20px;
}
