@import "../../../styles/variables";
.btn {
    background: $purpleToBlueGradiend;
    height: 56px;
    padding: 0 33px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(105%);
    }
}
